---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="404">
  <h1 class="text-6xl mt-8 mb-16">404: Page not found</h1>
  <section class="flex gap-2 justify-center">
    <button
      onclick="
      history.back()
      "
      class="btn text-blue-500 hover:text-blue-600 font-semibold"
    >
      Previous page
    </button>
    <a href="/" class="btn">Homepage</a>
  </section>
</MainLayout>
