---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="circus-real">
  <h1 class="text-4xl">Welp, this is awkward!</h1>
  <button
    onclick="
    history.back()
    "
    class="mt-4 px-4 pb-3 pt-2.5 bg-neutral-700 rounded-xl"
  >
    Previous page
  </button>
</MainLayout>
