---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="circus-real">
  <h1 class="text-6xl my-8">404: Page not found</h1>
  <section class="flex gap-2 justify-center">
    <button onclick="
    history.back()
    " class="btn"> Previous page</button>
    <a href="/" class="btn">Homepage</a>
  </section>
</MainLayout>
