---
import { Picture } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import Headshot from "../assets/headshot.jpg";
---

<MainLayout title="About me">
  <h1 class="text-4xl">About Me</h1>
  <section class="mt-4 flex justify-center items-center gap-4">
    <Picture
      src={Headshot}
      alt="Picture of me"
      class="rounded-3xl hidden sm:block max-h-36 lg:max-h-full"
      formats={["avif", "webp", "png"]}
    />
    <p class="max-w-prose">
      Hi, I'm <strong class="highlight">circus-real</strong>! I'm a software
      engineer based in the UK. I'm currently hoping to get into the web dev
      industry, but I'm also interested in backend development and other areas
      of software engineering.
    </p>
  </section>
</MainLayout>
