---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Contact">
  <h1 class="text-4xl">Contact</h1>
  <h2 class="mt-6 mb-2 text-2xl font-semibold">Connect with me on:</h2>
  <ul>
    <li>Discord: <code class="highlight">circus_real</code></li>
    <li>GitHub: <code class="highlight">circus-real</code></li>
  </ul>
</MainLayout>
