---
import ContactForm from "../components/ContactForm.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Hire Me">
  <h1>Hire Me</h1>
  <article class="gap-4">
    <p>
      Thank you for considering me for your web development needs. I'm excited
      about the prospect of collaborating with you on your projects.
    </p>
    <p>
      My passion for web development, dedication to continuous learning, and
      proficiency in various technologies make me a valuable addition to any
      team. Whether you need a web developer for a specific project, ongoing
      work, or even an internship opportunity, I'm here to discuss how we can
      work together.
    </p>
    <p>
      I bring a strong work ethic, problem-solving skills, and a commitment to
      delivering high-quality results. My experience with technologies like
      SolidJS, Astro, Tailwind CSS, Git, and Python equips me to take on a wide
      range of projects.
    </p>
    <p>
      If you're interested in discussing potential collaborations, web
      development projects, or internship opportunities, please feel free to get
      in touch through Discord or by sending me a message on the contact form
      below.
    </p>
    <strong class="highlight"
      >Let's work together to bring your ideas to life!</strong
    >
    <ContactForm />
  </article>
</MainLayout>
