---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
  <h1 class="text-4xl">circus-real</h1>
  <article>
    <p>content goes here...</p>
  </article>
</MainLayout>
