<form
  name="Portfolio Contact"
  method="POST"
  action="/contact-success"
  data-netlify="true"
  netlify-honeypot="bot-field"
  class="flex flex-col gap-2"
>
  <input
    type="hidden"
    name="subject"
    value="New message from %{formName} form (%{submissionId})"
  />
  <p class="hidden">
    <label> Don't fill this out if you're human:</label>
    <input name="bot-field" />
  </p>
  <p class="flex flex-wrap gap-2 justify-center items-center">
    <label for="name">Your Name:</label>
    <input
      type="text"
      name="name"
      id="name"
      placeholder="Your name here..."
      class="rounded-md placeholder:italic placeholder:text-accent-400 text-text-300 bg-secondary-900 p-2 w-60"
    />
    <label for="email">Your Email:</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="you@example.com"
      class="rounded-md placeholder:italic placeholder:text-accent-400 text-text-300 bg-secondary-900 p-2 w-60"
    />
  </p>
  <p class="flex gap-2 justify-center items-center">
    <label for="msg">Message:</label>
    <textarea
      name="message"
      id="msg"
      placeholder="Your message here..."
      class="rounded-md placeholder:italic placeholder:text-accent-400 text-text-300 bg-secondary-900 p-2 w-96"
    ></textarea>
  </p>
  <p>
    <button type="submit" class="btn">Send</button>
  </p>
</form>
