<section class="flex flex-col gap-2">
  <p>You can reach out to me at:</p>
  <ul>
    <li>Discord: <code>@circus_real</code></li>
    <li><a href="mailto:circus.real.dev@gmail.com">Email</a></li>
    <li><a href="https://github.com/circus-real">GitHub</a></li>
  </ul>
</section>
