<nav>
  <ul class="flex justify-center gap-2">
    <li class="px-2 py-1 text-lg bg-neutral-700">
      <a href="/circus-real/">Home</a>
    </li>
    <li class="px-2 py-1 text-lg bg-neutral-700">
      <a href="/circus-real/about">About</a>
    </li>
    <li class="px-2 py-1 text-lg bg-neutral-700">
      <a href="/circus-real/contact">Contact</a>
    </li>
    <li class="px-2 py-1 text-lg bg-neutral-700">
      <a href="/circus-real/projects">Projects</a>
    </li>
  </ul>
</nav>
