---
interface Props {
  name: string;
  url: string;
  frame?: {
    height?: number;
    width?: number;
  };
}

const { name, url, frame } = Astro.props as Props;
---

<section class="flex flex-col justify-center mt-4 gap-4">
  <h2 id="iframe-preview">Preview for {name}</h2>
  <iframe
    src={url}
    aria-labelledby="iframe-preview"
    height={frame?.height ?? 600}
    width={frame?.width ?? 800}
    class="mx-4 sm:mx-8 md:mx-16 lg:mx-24 rounded-xl bg-text-300"
    loading="lazy"
    title={name}
  >
  </iframe>
</section>
