---
import { getCollection, getEntry } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import ProjectPreview from "../../components/ProjectPreview.astro";

export async function getStaticPaths() {
  return (await getCollection("projects")!).map((p) => ({
    params: {
      slug: p.slug,
    },
  }));
}

const { slug } = Astro.params as { slug: string };
const entry = (await getEntry("projects", slug))!;
const { Content } = await entry!.render();

const hasFrame: boolean = entry.data.frame !== null;
---

<MainLayout title={entry.data.name}>
  <article class="gap-4">
    <h1 id="title">{entry.data.name}</h1>
    {hasFrame && <a href="#iframe-preview">Skip to preview</a>}
    <Content />
    {
      hasFrame && (
        <>
          <ProjectPreview {...entry.data} {...entry.data.frame!} />
          <a href="#title">Back to top</a>
        </>
      )
    }
  </article>
</MainLayout>
