---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import ProjectCard from "../../components/ProjectCard.astro";

const projects = await getCollection("projects");
---

<MainLayout title="Projects">
  <h1 class="text-4xl">My Projects</h1>
  <article>
    <section class="flex flex-wrap justify-center items-center mt-4">
      {
        projects.length > 0 &&
          projects.map((proj) => (
            <ProjectCard data={proj.data} slug={proj.slug} />
          ))
      }
    </section>
  </article>
</MainLayout>
