---
import BaseHead from "../components/BaseHead.astro";
import "../global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
