---
import NavBar from "../components/NavBar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

interface Props {
  title: string;
  hideExt?: boolean;
}

const { title, hideExt } = Astro.props as Props;
---

<BaseLayout>
  <Fragment slot="head">
    <title>{title} {!hideExt && "· circus-real"}</title>
    <slot name="head" />
  </Fragment>
  <NavBar />
  <main class="text-center pt-4">
    <slot />
  </main>
</BaseLayout>
