---
import NavBar from "../components/NavBar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <Fragment slot="head">
    <title>{title}</title>
    <slot name="head" />
  </Fragment>
  <NavBar />
  <main class="text-center pt-4">
    <slot />
  </main>
</BaseLayout>
